<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sendbirdfcmreceiver" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SendbirdFCMReceiver</name>
    <js-module name="SendbirdFCMReceiver" src="www/SendbirdFCMReceiver.js">
        <clobbers target="cordova.plugins.SendbirdFCMReceiver" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SendbirdFCMReceiver">
                <param name="android-package" value="cordova-plugin-sendbirdfcmreceiver.SendbirdFCMReceiver" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/SendbirdFCMReceiver.java" target-dir="src/cordova-plugin-sendbirdfcmreceiver/SendbirdFCMReceiver" />
    </platform>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
        <feature name="SendbirdFCMReceiver">
            <param name="ios-package" value="SendbirdFCMReceiver" />
        </feature>
        </config-file>
        <source-file src="src/ios/SendbirdFCMReceiver.m" />
    </platform>
</plugin>